<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohanad Ahmed | Software Engineer</title>

    <!-- ربط مكتبة TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.4.11/dist/full.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- ربط ملف الـ CSS الخاص بالموبايل -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- AOS Library CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body class="bg-gray-200 min-h-screen"> 

<!-- nav -->
    <nav class="bg-[rgb(17,24,39)] text-white shadow-md sticky top-0 z-50">
        <div class="container mx-auto flex justify-between items-center py-4 px-6">
            <!-- الشعار (Logo) -->
            <a href="#" class="text-3xl font-bold text-white animate-pulse">
                <h1>MA</h1>
            </a>

            <!-- زر القائمة للأجهزة الصغيرة -->
            <button id="menu-btn" class="md:hidden text-white focus:outline-none">
                ☰
            </button>

            <!-- روابط الـ Navbar -->
            <div id="menu-links" class="hidden md:flex gap-6">
                <a href="#home" class="text-white-800 hover:text-white border-b-2 border-transparent hover:border-primary transition-all duration-300">Home</a>
                <a href="#skills" class="text-white-800 hover:text-white border-b-2 border-transparent hover:border-primary transition-all duration-300">Skills</a>
                <a href="#projects" class="text-white-800 hover:text-white border-b-2 border-transparent hover:border-primary transition-all duration-300">Projects</a>
                <a href="#about" class="text-white-800 hover:text-white border-b-2 border-transparent hover:border-primary transition-all duration-300">About</a>
                <a href="#contact" class="text-white-800 hover:text-white border-b-2 border-transparent hover:border-primary transition-all duration-300">Contact</a>
            </div>
        </div>
        <!-- قائمة الجوال -->
        <div id="mobile-menu" class="md:hidden hidden flex-col bg-white shadow-md">
            <a href="#home" class="py-2 px-4 text-gray-800 hover:bg-primary hover:text-white transition-all">Home</a>
            <a href="#skills" class="py-2 px-4 text-gray-800 hover:bg-primary hover:text-white transition-all">Skills</a>
            <a href="#projects" class="py-2 px-4 text-gray-800 hover:bg-primary hover:text-white transition-all">Projects</a>
            <a href="#about" class="py-2 px-4 text-gray-800 hover:bg-primary hover:text-white transition-all">About</a>
            <a href="#contact" class="py-2 px-4 text-gray-800 hover:bg-primary hover:text-white transition-all">Contact</a>
        </div>
        <script>
            const menuBtn = document.getElementById('menu-btn');
            const mobileMenu = document.getElementById('mobile-menu');

            menuBtn.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        </script>
    </nav>

<!-- Home Page -->
    <!-- Home Section -->
    <div class="container mx-auto px-6 sm:px-8 py-16" id="home">
        <div class="grid grid-cols-1 sm:grid-cols-3 items-center bg-silver shadow-lg rounded-2xl overflow-hidden">
            <!-- Text Section -->
            <div class="p-6 sm:p-8 col-span-2 bg-gradient-to-br from-primary/10 via-white to-primary/10 rounded-l-2xl">
                <h1 data-aos="fade-up"
                    class="text-3xl sm:text-5xl font-extrabold text-primary drop-shadow-md text-center sm:text-left">
                    Mohanad Ahmed Khalil
                </h1>
                <p data-aos="fade-up" data-aos-delay="100"
                    class="text-gray-800 mt-4 leading-relaxed font-medium text-center sm:text-left">
                    I am a self-taught programmer with a keen interest in computer science, dedicated to creating
                    innovative, user-friendly web solutions. Currently, I am focusing on my studies to become a backend
                    developer while continuing my university education in Computer Science.
                </p>
    
                <div data-aos="zoom-in" data-aos-delay="200"
                    class="flex flex-col sm:flex-row justify-center sm:justify-start gap-4 mt-8">
                    <a href="https://www.linkedin.com/in/mohanad-ahmed-ab66b7342/" target="_blank"
                        class="btn btn-outline btn-primary flex items-center gap-2 w-full sm:w-auto hover:bg-primary hover:text-white transition-all duration-300 shadow-md">
                        <i class="fab fa-linkedin text-xl"></i> LinkedIn
                    </a>
                    <a href="https://github.com/Mohanad-Ahmed-2002" target="_blank"
                        class="btn btn-outline btn-primary flex items-center gap-2 w-full sm:w-auto hover:bg-primary hover:text-white transition-all duration-300 shadow-md">
                        <i class="fab fa-github text-xl"></i> GitHub
                    </a>
                    <a href="/static/files/Mohanad-Ahmed-Khalil-FlowCV-Resume-20250318.pdf" download
                        class="btn btn-outline btn-primary flex items-center gap-2 w-full sm:w-auto hover:bg-primary hover:text-white transition-all duration-300 shadow-md">
                        <i class="fa-solid fa-file-arrow-down text-xl"></i> CV
                    </a>
                </div>
            </div>
    
            <!-- Image Section -->
            <div class="h-full relative">
                <img src="/static/images/background 1.jpg" alt="Mohanad Ahmed"
                    class="w-full object-cover rounded-r-2xl hover:scale-105 transition-transform duration-500 ease-in-out shadow-md">
            </div>
        </div>
    </div>

<!-- Skills Page -->
    <!-- Skills Section -->
    <section id="skills" class="py-24 bg-gray-50">
        <div class="container mx-auto px-6 text-center">
            <h2 class="text-4xl font-extrabold text-primary uppercase tracking-wider mb-2 aos-init" data-aos="fade-down">
                Skills
            </h2>
            <div class="w-16 h-1 bg-primary mx-auto mb-12 aos-init" data-aos="fade-up"></div>
    
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-10 max-w-6xl mx-auto">
                <!-- Skill Item -->
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in">
                    <i class="fa-brands fa-html5 text-6xl text-orange-500"></i>
                    <p class="mt-2 font-semibold">HTML5</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="100">
                    <i class="fa-brands fa-css3-alt text-6xl text-blue-500"></i>
                    <p class="mt-2 font-semibold">CSS3</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="200">
                    <i class="fa-brands fa-bootstrap text-6xl text-purple-600"></i>
                    <p class="mt-2 font-semibold">Bootstrap</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="300">
                    <i class="fa-brands fa-git-alt text-6xl text-red-400"></i>
                    <p class="mt-2 font-semibold">Git</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="400">
                    <i class="fa-brands fa-python text-6xl text-blue-400"></i>
                    <p class="mt-2 font-semibold">Python</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="500">
                    <i class="fa-brands fa-python text-6xl text-black"></i>
                    <p class="mt-2 font-semibold">Flask</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="600">
                    <i class="fa-solid fa-database text-6xl text-blue-700"></i>
                    <p class="mt-2 font-semibold">MySQL</p>
                </div>
    
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="700">
                    <i class="fa-solid fa-code text-6xl text-green-500"></i>
                    <p class="mt-2 font-semibold">Tkinter</p>
                </div>

                <!-- Django -->
                <div class="flex flex-col items-center p-4 rounded-xl hover:scale-110 transition duration-300 shadow-md bg-white aos-init"
                    data-aos="zoom-in" data-aos-delay="700">
                    <i class="fab fa-django text-6xl text-black-700"></i>
                    <p class="mt-2 font-semibold">Djnago</p>
                </div>

            </div>
        </div>
    </section>


    <!-- projects Page -->
    <div class="text-center my-12" id="projects">
        <h2
            class="text-4xl font-bold text-primary uppercase tracking-wide hover:text-blue-500 transition duration-300 mb-4">
            Projects
        </h2>
        <div class="w-20 h-1 bg-primary mx-auto mt-2"></div>
    
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12 mt-10 w-full px-6">
    
            <!-- Student Management System Card -->
            <div
                class="bg-white shadow-lg rounded-xl p-6 hover:shadow-2xl hover:scale-105 transition-transform duration-300">
                <img src="/static/images/sms.webp" alt="Student Management System"
                    class="w-full h-48 object-cover rounded-xl">
                <h3 class="text-2xl font-bold mt-4 text-primary">Student Management System</h3>
                <p class="text-gray-700 mt-2 leading-relaxed">
                    A system to manage student information, including <span
                        class="font-bold text-blue-500">registration</span>,
                    <span class="font-bold text-blue-500">grades</span>, and performance tracking.
                </p>
                <a href="https://github.com/Mohanad-Ahmed-2002/student-system"
                    class="inline-block mt-4 px-6 py-2 text-white bg-primary rounded-full hover:bg-blue-600 focus:outline-none transition-all duration-300">
                    <i class="fa-brands fa-github mr-2"></i> View Project
                </a>
            </div>
    
            <!-- Employee Management System Card -->
            <div
                class="bg-white shadow-lg rounded-xl p-6 hover:shadow-2xl hover:scale-105 transition-transform duration-300">
                <img src="/static/images/ems.avif" alt="Employee Management System"
                    class="w-full h-48 object-cover rounded-xl">
                <h3 class="text-2xl font-bold mt-4 text-primary">Employee Management System</h3>
                <p class="text-gray-700 mt-2 leading-relaxed">
                    A system to manage employee data, including <span class="font-bold text-blue-500">attendance</span>,
                    <span class="font-bold text-blue-500">payroll</span>, and performance tracking.
                </p>
                <a href="https://github.com/Mohanad-Ahmed-2002/Employee-System"
                    class="inline-block mt-4 px-6 py-2 text-white bg-primary rounded-full hover:bg-blue-600 focus:outline-none transition-all duration-300">
                    <i class="fa-brands fa-github mr-2"></i> View Project
                </a>
            </div>
    
            <!-- ECOMMERCE MO OPTICS Card -->
            <div
                class="bg-white shadow-lg rounded-xl p-6 hover:shadow-2xl hover:scale-105 transition-transform duration-300">
                <img src="/static/images/mo optics.jpeg" alt="Ecommerce MO Optics"
                    class="w-full h-48 object-cover rounded-xl">
                <h3 class="text-2xl font-bold mt-4 text-primary">Ecommerce MO Optics</h3>
                <p class="text-gray-700 mt-2 leading-relaxed">
                    Designed and implemented a comprehensive ecommerce platform for MO-OPTICS that ensures efficient
                    processing of customer
                    orders from browsing to delivery, with a focus on a seamless user experience and intuitive navigation,
                    allowing
                    customers to shop with ease and confidence.
                </p>
                <a href="https://mo-optics.onrender.com"
                    class="inline-block mt-4 px-6 py-2 text-white bg-primary rounded-full hover:bg-blue-600 focus:outline-none transition-all duration-300">
                    <i class="fa-brands fa-github mr-2"></i> View Project
                </a>
            </div>
    
        </div>
    </div>

<!-- About Page -->
    <div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 py-16" id="about">
        <h2
            class="text-4xl font-bold text-primary uppercase tracking-wide hover:text-blue-500 transition duration-300 mb-6">
            About Me
        </h2>
        <div class="w-20 h-1 bg-primary mx-auto mb-12"></div>
    
        <div class="flex flex-col md:flex-row items-center gap-12 w-full max-w-5xl px-6">
    
            <!-- Text Section -->
            <div
                class="md:w-2/3 p-6 text-center md:text-left bg-white rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 hover:shadow-xl">
                <p class="text-lg text-gray-800 leading-relaxed">
                    <span class="text-3xl font-extrabold text-primary">I am Mohanad Ahmed</span>, a student at
                    <strong>Akhbar Al-Youm Academy</strong> in the Faculty of
                    <strong>Computer Science and Information Technology.</strong>
                    I am dedicated to studying and enhancing my skills in programming and IT.
                    I have obtained a certification in <strong>"Mastering Python Fundamentals."</strong>
                    Currently, I am seeking an internship in <strong>Software Development</strong>, where I can apply my
                    skills
                    practically. With one year remaining until my graduation, I am focused on specializing in
                    <strong>Backend Development</strong> and applying what I have learned in real-world projects.
                </p>
            </div>
    
            <!-- Image Section -->
            <div class="md:w-1/3 p-4">
                <img src="/static/images/about image.HEIC" alt="Mohanad Ahmed"
                    class="w-full h-auto rounded-2xl shadow-lg hover:scale-105 transition-transform duration-300 object-cover">
            </div>
    
        </div>
    </div>

<!-- Contact Page -->
    <div class="w-full max-w-5xl mx-auto p-8 bg-gradient-to-r from-black/15 to-transparent rounded-2xl shadow-lg flex flex-col md:flex-row justify-between items-center gap-6"
        id="contact">
    
        <!-- نص التواصل -->
        <div class="text-center md:text-left">
            <p class="text-3xl text-primary font-extrabold">
                Contact me to bring your project to life!
            </p>
            <p class="text-lg text-gray-600 mt-2">
                Let's discuss your next big idea and make it happen together.
            </p>
        </div>
    
        <!-- زر التواصل -->
        <a href="mailto:mohanadahmed092@gmail.com"
            class="btn btn-outline btn-primary flex items-center gap-2 px-8 py-3 text-lg font-bold transition-all duration-300 hover:bg-primary hover:text-white">
            <i class="fa-solid fa-envelope text-xl"></i>
            Contact Me
        </a>
    </div>
    <br>
<!-- Footer -->
    <footer class="w-full py-2 bg-gray-900 text-white text-center">
            <p class="text-xs text-gray-400 mb-2">
                © 2025 Mohanad Ahmed. All Rights Reserved.
            </p>
        
            <!-- Social Icons -->
            <div class="flex justify-center space-x-4">
                <a href="https://www.linkedin.com/in/mohanad-ahmed" target="_blank"
                    class="text-white hover:text-blue-500 transition-transform transform hover:scale-110 duration-300">
                    <i class="fab fa-linkedin fa-xl"></i>
                </a>
                <a href="https://github.com/Mohanad-Ahmed-2002" target="_blank"
                    class="text-white hover:text-gray-500 transition-transform transform hover:scale-110 duration-300">
                    <i class="fab fa-github fa-xl"></i>
                </a>
            </div>
    </footer>

    <!-- AOS Library JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000, // المدة بالملي ثانية
            once: true      // مرة واحدة فقط عند أول ظهور
        });
    </script>

</body>

</html>